.contacts {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}

.content{
    display: flex;
    width: 80%;
    min-height: 40%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.contactInfo{
    display: flex;
    width: 550px;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 52px;
    vertical-align: top;
    color: #323232;
    margin-bottom: 50px;
}



.contactInfo input, .contactInfo textarea{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #bfcbc6;
    padding: 10px 15px;
    margin-bottom: 20px;
}



/*#4985FF*/

.messageArea{
    resize: none;
    height: 100px;
}


.contactInfo button{
 width: 100px;
    outline: none;
}

.contactInfo input, textarea{
    width: 100%;
    outline: none;

}

@media screen and (max-width: 504px){
    .contactInfo{
        width: 100%;
    }
}