.contacts {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}

.content{
    display: flex;
    border: 1px solid white;
    width: 80%;
    min-height: 40%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contactInfo{
    display: flex;
    border: 1px solid greenyellow;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

