.contacts {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: brown;*/
}

.content{
    display: flex;
    /*border: 1px solid white;*/
    width: 80%;
    min-height: 40%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.contactInfo{
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messageArea{
    resize: none;
    height: 100px;
}


.contactInfo button{
 width: 100px;
}

.contactInfo input, textarea{
  width: 100%;
}

@media screen and (max-width: 504px){
    .contactInfo{
        width: 100%;
    }
}