.skills{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.oneSkill{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

.header{
    width: 80%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header .span__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    line-height: 1.2;
    vertical-align: top;
    color: #323232;
}

.mainContent{
    display: flex;
    min-height: 470px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.button_slider i {
     color: #323232;
}

.button_slider{
    font-Family: 'Montserrat', sans-serif;
    font-Size: 16px;
    color: #ff2716;
    border: none;
    outline: none;
}

.button_slider:hover{
    transition: 0.4s;
}

.button_slider a:hover{
    color: red;
}

.skill{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.skill__item{
    position: relative;
    overflow: hidden;
    width:  250px;
    height: 250px;
    padding: 30px;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.skill__item div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.skill__item:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(80, 80, 80, 0.86);
    transition: all 0.2s;
}

.skill__image{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.skill__text{
    color: white;
}

.skill__item:hover:before{
     background: rgba(100, 100, 100, 0.86);
}



.skill__button {
    text-align:center;
    display:block;
    font-Family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    border: #fff9f8 1px solid;
    color: #fff9f8;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 20px auto;
    transition: .5s;
    border-radius: 0px;
}

.skill__button:hover {
    top: 5px;
    transition: .5s;
    border-radius: 10px;
}





@media screen and (max-width: 542px){
    .skill{
        width: 100%;
    }
}
@media screen and (max-width: 440px){
    .header span{
        font-size: 30px;
    }
}
@media screen and (max-width: 624px){
    .mainContent{
        justify-content: center;
    }
}


