

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1A1A1A;

}

.container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.greeting{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: white;

}

.photo{
    height: 400px;
    width: 300px;
    background-color: aqua;
}