

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rosybrown;*/

}

.container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.greeting{
    display: flex;
    flex-direction: column;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-weight: 900;

}

.photo{
    height: 400px;
    width: 300px;
    background-color: aqua;
}