
.Menu{
    display: flex;
}
.list{
    width: 50px;
    height: 50px;
    border: 1px solid;
    background-color: #bf2000;
}

@media screen and (max-width: 808px){
    .list{
        width: 40px;
        height: 40px;
    }
}